.warehouse-container {
  padding: 24px;
  max-width: 1100px;
  margin: auto;
  background: #f9fafb;
}

.warehouse-container h2 {
  margin-bottom: 20px;
  color: #1f2937;
}

.warehouse-form {
  /*background: #ffffff;*/
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.form-grid .full {
  grid-column: span 3;
}

label {
  font-size: 13px;
  font-weight: 600;
  display: block;
  margin-bottom: 4px;
}

input,
select,
textarea {
 /* width: 100%;*/
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
}

textarea {
  resize: none;
}

.actions {
  margin-top: 20px;
  text-align: right;
}

button {
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
